@charset "utf-8";
/* CSS Document */

#shell {
	width: 1000px;
	margin-left: auto;
	margin-right: auto;
	background-color: #161616;
	padding-top: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
}
#rowBottom {
	clear: both;
	padding-top: 20px;
	padding-bottom: 10px;
	border: 2px solid #000000;
	padding-left: 150px;
	padding-right: 150px;
}

body {
	background-color: #242424;
}
.linkleft {
	left: auto;
	margin-left: 265px;

}
.linkright {
	margin-right: 265px;
}


li {
	display: inline;
	color: #8C8C8C;
}
#columnLeft {
	float: left;
	width: 400px;
	display: block;
	padding-left: 0px;
	border: 2px solid #000000;
}
#columnRight {
	width: 400px;
	display: block;
	float: right;
	border: 2px solid #000000;
}


img {
	border: 1px solid #7A7A7A;
}
.skills {
	display: list-item;
	color: #FFFFFF;
	font-family: Montserrat;
}

h1 {
	color: #FFFFFF;
	font-family: Michroma;
	text-align: left;
	padding-top: 20px;
	padding-right: 20px;
	padding-bottom: 20px;
	padding-left: 20px;
}
p {
	color: #FFFFFF;
	font-family: Montserrat;
	padding-left: 20px;
}
fieldset {
	width: 0px;
	margin-left: auto;
	margin-right: auto;
}

.hero {
	width: 100%;
	display: block;
}

.DD {
	color: #FFFFFF;
	font-family: Michroma;
	font-weight: bold;
	float: left;
	font-size: 19pt;
	margin-top: auto;
	margin-right: auto;
	margin-bottom: auto;
	margin-left: auto;
}
